body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
}
.logo img{
   width: 100px;
   height: 50px;
   border-radius: 100px;
}
header{
    display: flex;
    justify-content: center; 
    gap: 50%;
    align-items: center;
    
}
ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
li a{
    text-decoration: none;
    font-size: 10px;
    color: white;
    background-color:black;
    padding: 5px;
    border-radius: 100px;
}
li a:hover{
    background-color:blue;
    color:white;
}
/*fin header*/
/*debut a propos*/
.container img{
    width: 400px;
    height: 520px;
    border-radius: 200px;
}
.container{
    display: flex;
    justify-content: center;
    gap: 10%;
    align-items: center;
}
.container p{
    font-size: 20px;
}
section h1{
    text-align: center;
    text-decoration: underline;
}
h1{
text-align: center;
text-decoration: underline;
}
/*debut competence*/

.item{
    display: flex;
}
.max{
    width: 200px;
    background-color: grey;
    height: 20px;
    border-radius: 10px;
}
.valeur{
    width: 95%;
    height: 20px;
    background-color: red;
    border-radius: 10px;
}
.valeur1{
    width: 60%;
    height: 20px;
    background-color: rgb(51, 0, 255);
    border-radius: 10px; 
}
.valeur2{
      width: 70%;
    height: 20px;
    background-color: rgb(0, 255, 89);
    border-radius: 10px; 
}
.reseau img{
     width: 50px;
    height: 50px;
    border-radius: 100px;
}
.formulaire{
    display: flex;
    justify-content:flex-end; 
    gap: 50%;
    align-items: center;
    margin-top: -270px;
}
body{
    background-image: url(../MEDIA/fond5.jpg);
}
footer{
    justify-content:center;
    align-items: center;
    display: flex;
}
label{
    justify-content:center;
    align-items: baseline;
    display: flex;

}

   
 